body{
  background-color: skyblue;
  font-size: 30px;
  
}
.btn{
  position: relative;
  top:120px;
  left:140px;
  color:green;
  background-color:black;
}
.yt{
  position: relative;
  top:80px;
  left: 250px;
  color: white;
  background-color:red;
  font-size:15px
}

.whishes{
color:black;
position: relative;
top:100px;
background-color: pink;
font-size: 30px
  
}
.credit{
  font-size: 15px;
  color:black;
  position: relative;
  top :80px;
  left:200px;
  width: 150px;
  background-color:greenyellow;
}




